/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset cho danh sách và các phần tử HTML thường gặp */
ul,
ol {
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth; /* Cuộn mượt */
  -webkit-text-size-adjust: 100%; /* Ngăn iOS thay đổi kích thước font */
}

/* Thiết lập font mặc định */
body {
  font-family: "OpenSans", Arial, sans-serif; /* Font mặc định */
  font-size: 14px;
  color: #666;
  background-color: #fff;
  line-height: 1.7em;
  font-weight: 500;
}

.wrp {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

/*  HEADER  */
.header {
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
}
.header__top-bar {
  background: #00214d;
  padding: 4px 0;
}

.header__top-bar .wrp {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header__contact,
.header__social {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__top-bar a {
  font-size: 14px;
  color: #fff;
}
.header__contact-phone span:first-child::before,
.header__contact-email span:first-child::before,
.header__social-link:before,
.header__nav-icon-search::before, 
.footer__social-link::before {
  font-family: ETmodules !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0;
}

.header__contact-phone span:first-child::before {
  content: "\e090";
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.header__contact-email span:first-child::before {
  content: "\e076";
  margin-right: 4px;
}

.header__social-link--facebook:before,
.footer__social-link--facebook::before {
  content: "\e093";
}
.header__social-link--instagram:before,
.footer__social-link--instagram::before {
  content: "\e09a";
}
.header__nav-icon-search::before {
  content: "\55";
  font-size: 17px;
}
.header__contact a {
  display: flex;
  gap: 4px;
  align-items: center;
}

.header_bottom-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}

.header_bottom-bar .header__nav .header__nav-list {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 16px;
  font-weight: 600;
  color: #00214d;
}
.header_bottom-bar .header__nav .header__nav-list .header__nav-item.active {
  color: #2ea3f2;
}

.header_bottom-bar .header__nav .header__nav-list .header__nav-link {
  text-transform: uppercase;
}

.header_bottom-bar .header__nav .header__nav-list .header__nav-link:hover {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
}

.header__nav-item--dropdown {
  position: relative;
}

.header__nav-sublist {
  position: absolute;
  padding: 20px 0;
  z-index: 9999;
  width: 240px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  border-top: 3px solid #2ea3f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateZ(0);
}

.header__nav-sublist .header__nav-subitem {
  padding: 0 20px;
}

.header__nav-item--dropdown:hover .header__nav-sublist {
  visibility: visible;
  opacity: 1;
}

.header__nav-link {
  padding-bottom: 33px;
  display: block;
}
.header__nav-item--dropdown .header__nav-link {
  position: relative;
  padding-right: 20px;
}

.header__nav-item--dropdown .header__nav-link::after {
  font-family: ETmodules;
  content: "3";
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 800;
}

.header__nav-sublink {
  display: block;
  padding: 6px 20px;
  transition: all 0.4s ease-in-out;
}

.header__nav-sublink:hover {
  background-color: rgba(0, 0, 0, 0.03);
  opacity: 0.7;
  /* transition: all 0.4s ease-in-out; */
}

.header__nav-sublist--full {
  left: 30px;
  right: 30px;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  max-width: 100%;
}

.header__nav-item--full {
  position: inherit;
}

.header__nav-sublist--full .header__nav-subitem {
  width: 25%;
}

.header__nav-sublist--full .header__nav-subitem a {
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.banner {
  width: 100%;
  position: relative;
  max-height: 855px; /* Chiều cao tối thiểu */
  overflow: hidden; /* Ẩn các phần tử tràn ra ngoài */
  margin-top: 140px;
  z-index: 10;
}

.contact-form {
  max-width: 80%;
  background-color: rgba(0, 31, 76, 0.17);
  padding: 20px;
  margin: 0 auto 54px;

}

.contact-form__title {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 16px;
}

.contact-form__form {
  display: flex;
  gap: 3%;
  flex-wrap: wrap;
}

.contact-form__group {
  width: calc(50% - 1.5%);
  margin-bottom: 3%;
}

.contact-form__group.contact-form__full {
  width: 100%;
}

.contact-form__group input,
.contact-form__group textarea {
  border-radius: 7px 7px 7px 7px;
  overflow: hidden;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(0, 33, 77, 0.47);
  width: 100%;
  background-color: rgba(30, 115, 190, 0.67);
  padding: 16px;
  color: #fff;
}

.contact-form__group input::placeholder,
.contact-form__group textarea::placeholder {
  color: #fff;
}

.contact-form__group input:focus,
.contact-form__group textarea:focus {
color: #4e4e4e;
}

.contact-form__group--bottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.contact-form__group--captcha {
  display: flex;
  align-items: center;
  width: unset;
  margin-bottom: 0;
  gap: 10px;
}

.contact-form__group--captcha input {
  width: 60px;
}

.contact-form__button {
    color: #ffffff ;
    border-width: 3px ;
    border-color: rgba(0, 33, 77, 0.47);
    background-color: rgba(30, 115, 190, 0.67);
    border-style: solid;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em;
    border-radius: 3px;
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
    padding: .4em .5em;
}

/* .contact-form__button::before {
  font-family: "ETmodules";
  content: "\10";
  color: rgba(255, 255, 255, 0.49);
  line-height: inherit;
  font-size: 32px;
  opacity: 1;
  margin-left: -1.3em;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  transition: all .2s;
  text-transform: none;
} */

.contact-form__button::before {
  font-family: ETmodules;
  font-style: normal;
  font-weight: 400;
  content: "";
  font-size: 22px;
  position: absolute;
  /* background: #f5f5f5; */
  margin-left: 0;
  z-index: 2;
  transition: all .2s;
  color: rgba(255, 255, 255, 0.49);
  opacity: 0;
}

.contact-form__button:hover::before {
  opacity: 1;
  margin-left: -1.3em;
  
}

.contact-form__button:hover {
  padding: .4em .7em .4em 2em;
}
.footer {
  background-color: #00214d;
}
.footer__links {
  background-color: hsla(0, 0%, 100%, .05);
}

.footer__links-list {
  padding: 15px 0;
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
}

.footer__links-item { font-weight: 600;}

.footer__links-item a{
  color: #bbb;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.footer__links-item a:hover {
  opacity: .7;
}

.footer__details {
  display: flex;
  align-items: center;
  gap: 20px;
  padding:10px 0 ;
}

.footer__social{
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__social-link--facebook,
.footer__social-link--instagram {
  font-size: 24px;
  -webkit-transition: color .3s ease 0s;
    transition: color .3s ease 0s;
}

.footer__social-link--facebook:hover,
.footer__social-link--instagram:hover {
  color: #2ea3f2;
  -webkit-transition: color .3s ease 0s;
    transition: color .3s ease 0s;
}

.footer__certifications {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}