/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset cho danh sách và các phần tử HTML thường gặp */
ul,
ol {
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth; /* Cuộn mượt */
  -webkit-text-size-adjust: 100%; /* Ngăn iOS thay đổi kích thước font */
}

/* Thiết lập font mặc định */
body {
  font-family: "OpenSans", Arial, sans-serif; /* Font mặc định */
  font-size: 14px;
  color: #666;
  background-color: #fff;
  line-height: 1.7em;
  font-weight: 500;
}

.wrp {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

/*  HEADER  */
.header {
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
}
.header__top-bar {
  background: #00214d;
  padding: 4px 0;
}

.header__top-bar .wrp {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header__contact,
.header__social {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__top-bar a {
  font-size: 12px;
  color: #fff;
}
.header__contact-phone span:first-child::before,
.header__contact-email span:first-child::before,
.header__social-link:before,
.header__nav-icon-search::before,
.footer__social-link::before {
  font-family: ETmodules !important;
  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0;
}

.header__contact-phone span:first-child::before {
  content: "\e090";
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.header__contact-email span:first-child::before {
  content: "\e076";
  margin-right: 4px;
}

.header__social-link--facebook:before,
.footer__social-link--facebook::before {
  content: "\e093";
}
.header__social-link--instagram:before,
.footer__social-link--instagram::before {
  content: "\e09a";
}
.header__nav-icon-search::before {
  content: "\55";
  font-size: 17px;
}
.header__contact a {
  display: flex;
  gap: 4px;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__right {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding-top: 33px;
  transition: padding-top 0.3s ease;
}

.header__nav-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  opacity: 1;
  /* transform: translateY(0); */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Khi .header__right có class active */
.header__right.active {
  padding-top: 33px; /* Giảm padding-top khi active */
  position: relative;
}

.header__nav-wrapper.hidden {
  opacity: 0;
  transform: translateY(-20px);
  /* display: none; */
}

.header--scrolled .header__right {
  padding-top: 20px; /* Thay đổi padding khi scroll */
}

.header_bottom-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  /* align-items: center; */
}

.header_bottom-bar .header__nav .header__nav-list {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 16px;
  font-weight: 600;
  color: #00214d;
  /* opacity: 1; */
  /* transform: translateY(0); */
  /* transition: opacity 0.3s ease, transform 0.3s ease; */
}
/* Khi nav list ẩn */
/* .header_bottom-bar .header__nav .header__nav-list.hidden {
  opacity: 0;
  transform: translateY(-20px);
} */

.header_bottom-bar .header__nav .header__nav-list .header__nav-item.active {
  color: #2ea3f2;
}

.header_bottom-bar .header__nav .header__nav-list .header__nav-link {
  text-transform: uppercase;
}

.header_bottom-bar .header__nav .header__nav-list .header__nav-link:hover {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
}

.header__nav-item--dropdown {
  position: relative;
}

.header__nav-sublist {
  position: absolute;
  padding: 20px 0;
  z-index: 9999;
  width: 240px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  border-top: 3px solid #2ea3f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateZ(0);
}

.header__nav-sublist .header__nav-subitem {
  padding: 0 20px;
}

.header__nav-item--dropdown:hover .header__nav-sublist {
  visibility: visible;
  opacity: 1;
}

.header__nav-link {
  padding-bottom: 33px;
  display: block;
}
.header__nav-item--dropdown .header__nav-link {
  position: relative;
  padding-right: 20px;
}

.header__nav-item--dropdown .header__nav-link::after {
  font-family: ETmodules;
  content: "3";
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 800;
}

.header__nav-sublink {
  display: block;
  padding: 6px 20px;
  transition: all 0.4s ease-in-out;
}

.header__nav-sublink:hover {
  background-color: rgba(0, 0, 0, 0.03);
  opacity: 0.7;
  /* transition: all 0.4s ease-in-out; */
}

.header__nav-sublist--full {
  left: 30px;
  right: 30px;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  max-width: 100%;
}

.header__nav-item--full {
  position: inherit;
}

.header__nav-sublist--full .header__nav-subitem {
  width: 25%;
}

.header__nav-sublist--full .header__nav-subitem a {
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.header__search-form {
  position: absolute;
  right: 30px;
  align-items: center;
  width: 100%;
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  /* transition: opacity 0.3s ease, transform 0.3s ease; */
}

.header__search-form.active {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.header__search-form input {
  width: 98%;
}
.header__search-icon--close {
  cursor: pointer;
}
.header__search-icon--close::after {
  font-family: ETmodules;
  content: "\4d";
  font-weight: 400;
  font-size: 32px;
  display: inline-block;
}

.banner {
  width: 100%;
  position: relative;
  max-height: 855px; /* Chiều cao tối thiểu */
  overflow: hidden; /* Ẩn các phần tử tràn ra ngoài */
  margin-top: 140px;
  z-index: 10;
}

.banner__background {
  position: relative;
  /* overflow: hidden; */
  /* height: 100%;  */
  aspect-ratio: 1903 / 675;
}

.banner__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__content {
  position: absolute;
  bottom: 30%;
  left: -15px;
  background-color: rgba(0, 33, 77, 0.47);
  padding: 20px 30px 20px 50px;
  border-radius: 8px;
  color: white;
  z-index: 10; /* Đảm bảo nội dung nằm trên hình nền */
  width: auto;
  max-width: 50%;
  width: 45%;
  text-align: center;
}

/* Title Styling */
.banner__title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 10px; /* Khoảng cách dưới */
}

/* Description Styling */
.banner__description {
  font-size: 23px; /* Kích thước chữ vừa phải cho mô tả */
  margin: 0;
  line-height: 1.5; /* Tăng khoảng cách dòng để dễ đọc hơn */
}

.banner__menu {
  position: absolute;
  /* width: 170px; */
  right: 10%;
  top: -2px;
  color: #ffffff !important;
  background-color: rgba(0, 33, 77, 0.47);
  border-radius: 3px;
}

.banner__menu a {
  /* padding: 10px; */
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  padding: 0.3em 1.5em 0.3em 1em;
  line-height: 1.7em;
  background-color: transparent;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid;
  border-radius: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.banner__menu a:after {
  font-family: ETmodules;
  font-size: 32px;
  line-height: 1em;
  content: "\35";
  opacity: 0;
  position: absolute;
  margin-left: -1em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: none;
  -webkit-font-feature-settings: "kern" off;
  font-feature-settings: "kern" off;
  font-variant: none;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

.banner__menu a:hover:after {
  opacity: 1;
  margin-left: 0;
}

.banner__menu a:hover {
  border: 2px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact-form {
  max-width: 89%;
  background-color: rgba(0, 31, 76, 0.17);
  padding: 20px;
  margin: 0 auto 74px;
}

.contact-form__title {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 16px;
}

.contact-form__form {
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;
}

.contact-form__group {
  width: calc(50% - 25px);
}

.contact-form__group.contact-form__full {
  width: 100%;
  margin: 50px 0 30px 0;
}

.contact-form__group input,
.contact-form__group textarea {
  border-radius: 7px 7px 7px 7px;
  overflow: hidden;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(0, 33, 77, 0.47);
  width: 100%;
  background-color: rgba(30, 115, 190, 0.67);
  padding: 16px;
  color: #fff;
}

.contact-form__group textarea {
  min-height: 150px;
}

.contact-form__group input::placeholder,
.contact-form__group textarea::placeholder {
  color: #fff;
}

.contact-form__group input:focus,
.contact-form__group textarea:focus {
  color: #4e4e4e;
}

.contact-form__group--bottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.contact-form__group--captcha {
  display: flex;
  align-items: center;
  width: unset;
  margin-bottom: 0;
  gap: 10px;
}

.contact-form__group--captcha input {
  width: 60px;
}

.contact-form__button {
  color: #ffffff;
  border-width: 3px;
  border-color: rgba(0, 33, 77, 0.47);
  background-color: rgba(30, 115, 190, 0.67);
  border-style: solid;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em;
  border-radius: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  padding: 0.4em 0.5em;
}

.contact-form__button::before {
  font-family: ETmodules;
  font-style: normal;
  font-weight: 400;
  content: "";
  font-size: 22px;
  position: absolute;
  /* background: #f5f5f5; */
  margin-left: 0;
  z-index: 2;
  transition: all 0.2s;
  color: rgba(255, 255, 255, 0.49);
  opacity: 0;
}

.contact-form__button:hover::before {
  opacity: 1;
  margin-left: -1.3em;
}

.contact-form__button:hover {
  padding: 0.4em 0.7em 0.4em 2em;
}
.footer {
  background-color: #00214d;
}
.footer__links {
  background-color: hsla(0, 0%, 100%, 0.05);
}

.footer__links-list {
  padding: 15px 0;
  display: flex;
  column-gap: 22px;
  flex-wrap: wrap;
}

.footer__links-item {
  font-weight: 600;
}

.footer__links-item a {
  color: #bbb;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.footer__links-item a:hover {
  opacity: 0.7;
}

.footer__details {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0 20px 0;
  justify-content: space-between;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__social-link--facebook,
.footer__social-link--instagram {
  font-size: 24px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__social-link--facebook:hover,
.footer__social-link--instagram:hover {
  color: #2ea3f2;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__certifications {
  display: flex;
  column-gap: 50px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  padding-bottom: 27px;
  flex-wrap: wrap;
}
/* 
.header__nav-toggle--mobile {
  width: 32px;
  height: 32px;
  display: inline-block;
} */

.header__nav-toggle--mobile::before {
  content: "\61";
  font-size: 32px;
  position: relative;
  left: 0;
  top: 0;
  cursor: pointer;
  font-family: ETmodules;
  color: #2ea3f2;
  display: none;
}

.header__nav-toggle {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__nav-link--search {
  cursor: pointer;
}

.header__nav.hidden {
  /* opacity: 0;
  visibility: hidden; 
  pointer-events: none; */
  overflow: visible;
  opacity: 1;
}
/* Block: translate */
.translate {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 20px;
}

/* Element: flag */
.translate__flag {
  width: 30px;
  height: 20px;
  margin-right: 10px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Modifier: hidden */
.translate__flag--hidden {
  opacity: 0;
  visibility: hidden;
}

/* Element: flag image */
.translate__flag-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: url(../asset/flags.png) -87px -351px no-repeat;
}

/* Element: button */
.translate__button {
  background-color: #ffa500;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.translate__button:hover {
  background-color: #e69500;
}

.translate__button:active {
  transform: scale(0.95);
}

/* Tablet */
@media (min-width: 981px) and (max-width: 1080px) {
  .wrp {
    width: 80%;
  }
}

/* Mobile nhỏ */
@media (max-width: 980px) {
  .header__nav-wrapper {
    transition: none;
  }
  .contact-form__form {
    row-gap: 10px;
  }
  .contact-form__group.contact-form__full {
    margin: 0;
  }
  .header__search-form {
    position: unset;
  }
  .header {
    position: unset;
    padding-bottom: 30px;
  }
  .wrp {
    max-width: 100%;
    padding: 0 20px;
  }
  .header__top-bar .wrp {
    justify-content: center;
  }
  .header__social {
    display: none;
  }
  .header_bottom-bar {
    position: relative;
    padding: 0 10px;
    /* gap: 20px;
    justify-content: unset; */
  }
  /* .header__logo {
    margin-right: 50px;
  } */
  .header__nav-toggle--mobile::before {
    /* CSS cho điện thoại nhỏ */
    display: block;
  }
  .header__nav {
    position: absolute;
    top: 85px;
    left: 5%;
    padding: 20px;
    background: #fff;
    max-width: 90%;
    width: 100%;
    height: 0; /* Bắt đầu với chiều cao 0 */
    overflow: hidden; /* Ẩn nội dung vượt quá chiều cao */
    display: none; /* Ẩn hoàn toàn khi chưa mở */
    transition: height 0.3s ease-out; /* Hiệu ứng mượt */
    opacity: 0;
    z-index: 9999;
    border-top: 3px solid #2ea3f2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block;
  }

  .header_bottom-bar .header__nav .header__nav-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .header__nav-sublist {
    position: static;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    padding: 0;
    width: 100%;
  }

  .header__nav-sublist--full {
    flex-direction: column;
  }

  .header__nav-item--dropdown .header__nav-link::after {
    content: "";
  }
  .header__nav-sublist--full .header__nav-subitem {
    width: 100%;
  }
  .header__nav-sublist .header__nav-subitem {
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  }
  .header__nav-sublist--full .header__nav-subitem a {
    border: none;
  }
  .header__nav-link {
    padding-bottom: 0;
  }
  .header__nav-item {
    display: block;
    width: 100%;
  }
  .header__nav-link {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  }
  .header__nav-item--dropdown .header__nav-link {
    padding-right: 0;
  }
  .banner {
    margin-top: 0;
    border-top: 1px solid #ccc;
  }

  .contact-form__group.contact-form__group--captcha {
    width: unset;
  }
  .banner__background {
    aspect-ratio: 991 /520;
  }
  .footer__links-list {
    justify-content: center;
    gap: 14px;
  }
  .footer__details {
    flex-direction: column-reverse;
  }
  .footer__certifications {
    flex-wrap: wrap;
  }
  .header__nav-wrapper.hidden {
    display: none;
  }
}

@media (max-width: 767px) {
  .contact-form__group {
    width: 100%;
  }
  .banner__content {
    width: 100%;
    max-width: 80%;
  }
  .banner__title {
    font-size: 20px;
    line-height: 1.1;
  }
  .banner__background {
    aspect-ratio: 1/1;
  }
}

@media (max-width: 479px) {
  .header__logo {
    width: 150px;
  }
  .header__right {
    max-width: 50%;
  }
}
