/* Banner */
/* Định dạng chung cho banner */
/* .banner {
  width: 100%;
  position: relative;
  max-height: 855px; 
  overflow: hidden; 
  margin-top: 140px;
  z-index: 10;
} */

/* Owl Carousel Container */
.banner__background-group {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Background */
.banner__background {
  position: relative; /* Bố trí hình ảnh trong slider */
  top: 0;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1903 / 675;
  /* background-attachment: fixed; */
}

/* Hình ảnh */
.banner__image {
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  will-change: transform;
}

/* Banner Content */
.banner__content {
  position: absolute;
  top: 50%; /* Đặt ở giữa theo chiều dọc */
  left: 50%; /* Đặt ở giữa theo chiều ngang */
  transform: translateX(-50%) translateY(100%); /* Bắt đầu từ dưới màn hình */
  text-align: center; /* Căn giữa nội dung */
  background: rgba(0, 0, 0, 0.5); /* Nền mờ màu đen */
  padding: 20px 30px; /* Khoảng cách bên trong */
  border-radius: 8px; /* Bo tròn góc */
  color: white; /* Màu chữ */
  z-index: 10; /* Đảm bảo nội dung nằm trên ảnh */
  max-width: 80%; /* Đảm bảo nội dung không tràn khỏi khung */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Hiệu ứng bóng */
  opacity: 0; /* Ẩn nội dung ban đầu */
  transition: opacity 0.7s ease, transform 0.7s ease; /* Hiệu ứng mượt */
  width: 80%;
  background-color: rgba(0, 33, 77, 0.47);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/* Title Styling */
.banner__title {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 10px; /* Khoảng cách dưới */
}

/* Description Styling */
.banner__description {
  margin: 0;
  line-height: 1.5; /* Tăng khoảng cách dòng để dễ đọc hơn */
}

/* Khi active */
.banner__content.active {
  opacity: 1; /* Hiển thị nội dung */
  transform: translate(-50%, -50%); /* Đưa về vị trí ban đầu */
}

.banner__background-group .owl-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.banner__background-group .owl-dots .owl-dot {
  display: inline-block;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-indent: -9999px;
  border-radius: 7px;
  width: 7px;
  height: 7px;
  margin-right: 10px;
  padding: 0;
  opacity: 0.5;
}

.banner__background-group .owl-dots .owl-dot.active {
  background-color: #fff;
  opacity: 1;
}

/* Tùy chỉnh chung cho nút điều hướng */
.banner__background-group .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.banner__background-group .owl-prev,
.banner__background-group .owl-next {
  color: white; /* Màu biểu tượng */
  font-size: 24px; /* Kích thước biểu tượng */
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Bo tròn */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner__background-group .owl-prev span,
.banner__background-group .owl-next span {
  font-size: 50px;
  color: #fff;
}

/* Vị trí nút Prev */
.banner__background-group .owl-prev {
  position: absolute;
  left: 10px; /* Cách lề trái */
}

/* Vị trí nút Next */
.banner__background-group .owl-next {
  position: absolute;
  right: 10px; /* Cách lề phải */
}

.homepage-ratings {
  padding: 54px 0;
}

.homepage-ratings__title {
  padding: 27px 0;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
}

.homepage-ratings__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 0;
  margin-bottom: 30px;
}

.homepage-ratings__list .homepage-ratings__item {
  display: flex;
  width: 225px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.homepage-ratings__circle {
  position: absolute;
  width: 225px;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Phần trăm bên trong vòng tròn */
.homepage-ratings__percentage {
  position: absolute;
  font-size: 1.5rem; /* Kích thước chữ */
  font-weight: bold;
  color: #00aaff; /* Màu chữ */
}

/* Label phía dưới vòng tròn */
.homepage-ratings__label {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

.homepage-courses {
  color: #fff;
}

.homepage-courses__top {
  background: url(../asset/Student_HomeBLUE-1.jpg) no-repeat center;
  background-size: cover;
  padding: 54px 0;
}

.homepage-courses__text {
  padding: 27px 0;
}

.homepage-courses__title {
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.75%;
}

.homepage-courses__subtitle {
  font-size: 23px;
  text-align: center;
}

.homepage-courses__container {
  display: flex;
  align-items: center;
  row-gap: 30px;
  column-gap: 60px;
  flex-wrap: wrap;
  padding: 27px 0;
}

.homepage-courses__container .homepage-courses__item {
  width: calc((100% - 180px) / 4);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 20px 0;
}

.homepage-courses__item-title {
  font-size: 23px;
  font-weight: 700;
}



.homepage-courses__item-button,
.homepage-courses__brochure-button {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  padding: 0.3em 1em;
  line-height: 1.7em;
  background-color: transparent;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid;
  border-radius: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.homepage-courses__item-button:hover,
.homepage-courses__brochure-button:hover {
  border: 2px solid transparent;
  padding: 0.3em 2em 0.3em 0.7em;
  border-radius: 0px;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.homepage-courses__item-button:after,
.homepage-courses__brochure-button:after {
  font-family: ETmodules;
  font-size: 32px;
  line-height: 1em;
  content: "\35";
  opacity: 0;
  position: absolute;
  margin-left: -1em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: none;
  -webkit-font-feature-settings: "kern" off;
  font-feature-settings: "kern" off;
  font-variant: none;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

.homepage-courses__item-button:hover:after,
.homepage-courses__brochure-button:hover:after {
  opacity: 1;
  margin-left: 0;
}

.homepage-courses__brochure {
  padding: 54px 0;
  background-color: #00214d;
  text-align: center;
}

.homepage-courses__brochure .wrp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 27px 0;
}

.homepage-courses__brochure-title {
  font-size: 27px;
  font-weight: 700;
}

.homepage-courses__item-description {
  padding-bottom: 10px;
}

.homepage-courses__brochure-icon::after {
  font-family: ETmodules;
  font-size: 100px;
  line-height: 1em;
  content: "\69";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: none;
  -webkit-font-feature-settings: "kern" off;
  font-feature-settings: "kern" off;
  font-variant: none;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

.homepage-testimonials {
  padding: 54px 0 27px 0;
}

.homepage-testimonials__title {
  font-size: 37px;
  font-weight: 400;
  text-align: center;
  padding: 27px 0;
}

.homepage-testimonials__divider {
  margin-bottom: 27px;
}

.homepage-testimonials__container {
  padding: 27px 0;
  display: flex;
  gap: 5.5%;
}

.homepage-testimonials__item {
  width: calc((100% - 5.5%) / 2);
  position: relative;
  padding: 30px;
  line-height: 1.5;
  background-color: #f5f5f5;
}

.homepage-testimonials__icon::before {
  font-family: ETmodules;
  font-style: normal;
  font-weight: 400;
  content: "\7c";
  font-size: 32px;
  left: 50%;
  position: absolute;
  top: -20px;
  background: #f5f5f5;
  margin-left: -16px;
  border-radius: 31px;
  z-index: 2;
}

.homepage-testimonials__wrapper {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.homepage-testimonials__author-image img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  object-fit: cover;
}

.homepage-testimonials__author {
  width: calc(100% - 120px);
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.homepage-testimonials__author-name {
  font-weight: 700;
}

.homepage-introduction {
  max-width: 89%;
  background-color: rgba(0, 31, 76, 0.17);
  padding: 20px;
  margin: 0 auto;
}

/* Tablet */
/* @media (min-width: 768px) and (max-width: 1023px) {
 .banner__background {
    aspect-ratio: 991 /520;
  }
} */

/* Mobile nhỏ và /* Mobile lớn */
@media (max-width: 991px) {
  .homepage-ratings__list {
    flex-direction: column;
  }
  .homepage-courses__title,
  .homepage-testimonials__title {
    line-height: 1.2;
  }

  .homepage-courses__container .homepage-courses__item {
    width: calc(50% - 30px);
  }
  .homepage-testimonials__container {
    flex-wrap: wrap;
  }
  .homepage-testimonials__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .homepage-testimonials__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .homepage-testimonials__author {
    width: 100%;
  }
  .footer__links-list {
    justify-content: center;
    gap: 14px;
  }
  .footer__details {
    flex-direction: column-reverse;
  }
  .footer__certifications {
    flex-wrap: wrap;
  }
  
  .banner__background {
    aspect-ratio: 991 /520;
  }
}

@media (max-width: 767px) {
  .banner__background {
    aspect-ratio: 390/520;
  }
}

/* Mobile nhỏ */
@media (max-width: 480px) {
  .homepage-courses__container .homepage-courses__item {
    width: 100%;
  }
}
