.our-school-introduction {
  padding: 71px 0;
}

.our-school-introduction__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 26px;
}

.our-school-benefits {
  background-color: #2d3743;
  padding: 71px 0;
  margin-bottom: 71px;
}

.our-school-benefits__container {
  display: flex;
  gap: 5.5%;
  flex-wrap: wrap;
}

.our-school-benefits__item {
  width: calc((100% - 11%) / 3);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  align-items: center;
  color: #fff;
}

.our-school-benefits__title {
  font-weight: 500;
  font-size: 18px;
}

.contact-form {
  background: url(../asset/School-hi-Cloudless-Final-1.jpg) no-repeat center;
  background-size: cover;
}
.contact-form__label {
  color: #fff;
}

@media (max-width: 980px) {
  .our-school-benefits__item {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 479px) {
  .banner__description {
    display: none;
  }
}
