
@font-face {
  font-family: 'OpenSans';
  src: url('./Css/Font/OpenSans-Regular.woff2') format('woff2'),
       url('./Css/Font/OpenSans-Regular.woff') format('woff');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./Css/Font/OpenSans-Medium.woff2') format('woff2'),
       url('./Css/Font/OpenSans-Medium.woff') format('woff');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'OpenSans';
  src: url('./Css/Font/OpenSans-SemiBold.woff2') format('woff2'),
       url('./Css/Font/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600; /* SemiBold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./Css/Font/OpenSans-Bold.woff2') format('woff2'),
   url('./Css/Font/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'ETmodules';
  src: url('./Css/Font/modules.woff2') format('woff2'),
   url('./Css/Font/modules.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}